name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: go mod download

    - name: Build
      run: env GOOS=linux GOARCH=arm go build
      
    - name: Deploy
      env:
        SERVER_NAME: ${{ secrets.SERVER_NAME }}
      run: |
        rsync -r . "SERVER_NAME":~/pimonit/.deploy
        ssh pi "
          pkill pimonit
          cd ~/pimonit
          cp -r .deploy/* .
          ./run.sh
          echo 'Done.'
        "
